body {
  background: black; }

.container {
  background-image: url("images/background.jpg");
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1280px;
  height: 650px;
  margin: 0 auto; }

h3 {
  text-align: center;
  padding-top: 30px;
  font-family: "Heiti SC",sans-serif;
  color: white;
  font-weight: 700;
}

h3 img {
  width: 600px;
  margin-top: 40px;
}

.play {
  width: 163px;
  margin: 0 auto;
  margin-top: 200px; }

.btn, .btn:visited {
  display: block;
  padding: 0 22px;
  width: 163px;
  border: none;
  font-size: 28px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 13px; }

.btn img {
  width: 150px;
}
.btn:hover {
  background-color: #eee;
}